
/*TAMAÑO TABLET */ 

@media screen and (max-width: 1238px) {
    .body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.44fr 4.6fr 1.1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        .header {
            grid-area: header;
            margin-bottom: 15px;
        }
        
        .main {
            grid-area: main;
        }
        
        .footer {
            grid-area: footer;
        }
    }

    .body-index {
        grid-template-rows: 0.6fr 10.7fr 2fr;
    }
    .body-productos {
        grid-template-rows: 0.6fr 5.7fr 2fr;
    }
    .body-nosotros {
        grid-template-rows: 0.6fr 3.7fr 2fr;
    }
    .body-contacto {
        grid-template-rows: 0.4fr 0.3fr 2fr;
    }

    .header__nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.6fr 1.5fr 1fr;
        grid-template-areas: 
        "header__des header__des"
        "nav__log nav__log"
        "nav__opc nav__ico";
        .header__des {
            margin: 0%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
        } 
        .nav__log {
            margin: 0%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            .divimgN {
                width: auto;
                height: 120px;
                margin: 0;
            }
        }
        
        .nav__opc {
            margin: 0%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        .nav__ico {
            margin: 0%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            padding-left: 12px;
        }  
    }
    .main__sec {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.8fr 0.3fr 0.6fr 0.8;
        grid-template-areas:
        "article__sec1 article__sec1"
        "article__sec2--div article__sec2--div2"
        "article__sec3--div article__sec3--div"
        "article__sec3--div2 article__sec3--div2"
        "article__sec4 article__sec4";
        .article__sec1 {
            grid-area: article__sec1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .article__sec2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .article__sec2--div {
                grid-area: article__sec2--div;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .article__sec2--div2 {
                grid-area: article__sec2--div2;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .article__sec3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            .article__sec3--div {
                grid-area: article__sec3--div;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
            }
            .article__sec3--div2 {
                grid-area: article__sec3--div2;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
        }
        .article__sec4 {
            grid-area: article__sec4;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 150px;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 0px;
        .footer__div {
            padding: 10px;
        }
        .footer__div2 {
            padding: 10px;
        }
    }
    /*.sec3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas: 
        "sec3div sec3div"
        "sec3div sec3div"
        "sec3div sec3div";
        .sec3div {
            grid-area: sec3div;
        }
        .sec3div {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "sec3__div sec3__div"
            "sec3__div sec3__div"
            "sec3__div sec3__div";
            .sec3div__div {
                grid-area: sec3__div;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        } 
    }
    .art__sec4 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        article__sec4--div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            art__sec4--img {
                height: 100px;
                width: 100px;
            }
            article__sec4--h2 {
                font-size: 15px;
            }
        }
    }*/
} 

/*TAMAÑO CELULAR*/ 

@media screen and (max-width: 480px) {
    .body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 6fr 2fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        .header {
            grid-area: header;
            position: relative;
        }
        
        .main {
            grid-area: main;
        }
        
        .footer {
            grid-area: footer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .footer__div {
                padding: 10px;
            }
            .footer__div2 {
                padding: 10px;
            }
        }
        .hamburguer {
            display: block;
            position: absolute;
            left: 40px;
            top: 180px;
        }
    }
    .body-index {
        grid-template-rows: 0.6fr 10.7fr 2fr;
    }
    .body-productos {
        grid-template-rows: 0.6fr 5.7fr 2fr;
    }
    .body-nosotros {
        grid-template-rows: 0.6fr 3.7fr 2fr;
    }
    .body-contacto {
        grid-template-rows: 0.4fr 0.3fr 2fr;
    }

    .header__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1.5fr;
        grid-template-areas: 
        "header__des header__des"
        "nav__log nav__log"
        "nav__opc nav__ico";
        .nav__opc--ul {
            display: none;
        }
        .header__des {
            grid-area: header__des;
            margin: 0%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  
        .nav__log {
            grid-area: nav__log;
            margin: 0%;
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            .divimgN {
                width: auto;
                height: 80px;
                margin: 0;
            }
        }
        .nav__opc {
            grid-area: nav__opc;
            margin: 0%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .nav__ico {
            grid-area: nav__ico;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            padding-right: 20px;
        } 
    }
    .main__sec {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 0.8fr 0.3fr 8fr 2fr;
        grid-template-areas:
        "article__sec1 article__sec1"
        "article__sec2--div article__sec2--div2"
        "article__sec3--div article__sec3--div"
        "article__sec3--div2 article__sec3--div2"
        "article__sec4 article__sec4";
        .article__sec1 {
            grid-area: article__sec1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .article__sec2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            height: 100%;
            .article__sec2--div {
                grid-area: article__sec2--div;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 225px;
            }
            .article__sec2--div2 {
                grid-area: article__sec2--div2;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 30px;
                margin-right: 150px;
            }
        }
        .article__sec3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            height: 100%;
            .article__sec3--div {
                grid-area: article__sec3--div;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
            }
            .article__sec3--div2 {
                grid-area: article__sec3--div2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
        }
        .article__sec4 {
            grid-area: article__sec4;
            display: flex;
            flex-direction: column;
            justify-content: column;
            align-items: center;
            margin-top: 50px;
            height: 100%;
            .article__sec4--div{ 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 0px;
        .footer_div {
            padding-left: 0px;
        }
        .footer_div2 {
            padding-left: 0px;
        }
    }
    /*.sec3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.3fr;
        grid-template-areas: 
        "sec3div sec3div"
        "sec3div sec3div"
        "sec3div sec3div";
        .sec3div {
            grid-area: sec3div;
        }
        .sec3div {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "sec3__div sec3__div"
            "sec3__div sec3__div"
            "sec3__div sec3__div";
            .sec3div__div {
                grid-area: sec3__div;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        } 
    }
    .art__sec4 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        article__sec4--div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            art__sec4--img {
                height: 50px;
                width: 50px;
            }
            article__sec4--h2 {
                font-size: 15px;
            }
        }
    }*/ 
}



